@(roomName: String, userName: String, roomId: String)
@import helper._
@main(title = roomName, username = userName){
	<style type="text/css">
		.base-message{
			padding: 5px;
		    margin-bottom: 10px;
		    border: 1px solid transparent;
		    border-radius: 4px;
		}
		.talk{
			 color: #468847;
			 background-color: #dff0d8;
			 border-color: #d6e9c6;
		}
		.join{
			color: #3a87ad;
  			background-color: #d9edf7;
  			border-color: #bce8f1;
		}
		.quit{
			color:#b94a48;
			background-color:#f2dede;
			border-color:#eed3d7;
		}
		
	</style>
	<div id="onChatMember" class="container" style="margin-bottom:30px;">
		<div class="row">
			<div id="onChat" class="col-md-8">
				<h2>Messages:</h2>
				<div id="messages" style="height:500px; overflow:auto;">

				</div>
				<textarea id="chatInfo" style="width: 100%;margin-top:20px;" placeholder="Enter your text here. Hit enter key to send."></textarea>
			</div>
			<div id="onMemeber" class="col-md-4">
				<h2>Members:</h2>
				<ul id="memberList">

				</ul>
			</div>
		</div>
	</div>
	
	
	@if(flash.containsKey("buddyList")){
		<input type="text" id="buddyList" name="buddyList" style="display:none" value="@flash.get("buddyList")">
	}else{
		<input type="text" id="buddyList" name="buddyList" style="display:none" value="none">
	}

	<script type="text/javascript">
		$(function(){
			var WS = window['MozWebSocket']? MozWebSocket: WebSocket;
			var chatSocket = new WS("@routes.Application.chat(userName, roomId).webSocketURL(request)");
			
			var sendMessage = function(type){
				if(type == "text"){
					chatSocket.send(JSON.stringify(
						{
							kind: "text",
							text: $("#chatInfo").val()
						}
					));
					$("#chatInfo").val('');
				}else if(type == "viewhistory"){
					chatSocket.send(JSON.stringify(
						{
							kind: "viewhistory",
							text: ""
						}
					));
				}else if(type == "searchchathistory"){
					chatSocket.send(JSON.stringify(
						{
							kind: "searchchathistory",
							text: $("#searTxt").val()
						}
					));
				}

			};

			var receiveEvent = function(event){
				var data = JSON.parse(event.data);
				if(data.error){
					alert(data.error);
					chatSocket.close();
				}else{
					$("#onChatMember").show();
				}

				if(data.key == "history"){
					$("#outter:hidden").show();
					var historyData = data.text;
					$("#historyBody").html(historyData);

				}else if(data.key == "searchhistory"){
					var newHistoryData = data.text;
					var numOfMatches = data.numofmatch;
					$("#historyBody").html(newHistoryData);


				}else if(data.key == "text"){
					// Create chat element
					var chatEl = $('<div class="base-message" style="display:inline-block;"><span>' + data.username + '</span><p>' + data.text + '</p></div>');
					//$("span", chatEl).text(data.username);
					//$("p", chatEl).text(data.text);
					$(chatEl).addClass(data.kind);
					
					
					var outter = $('<div></div>');
					outter.append(chatEl);
					
					$("#messages").append(outter);
					// 10 is for padding
					if(chatEl.outerWidth() + 10 >= $("#messages").width())
						chatEl.css("width", ($("#messages").width()));
					else
						if(data.username == "@userName")
							chatEl.css("position", "relative").css("left",($("#messages").width() - chatEl.outerWidth()));
					

					// Update member list
					$("#memberList").html('');
					$(data.members).each(function(){
						$("#memberList").append("<li>" + this + "</li>");
					});
					$("#messages").scrollTop($("#messages").prop("scrollHeight"));
				}
				
				
			};

			var handleReturnKey = function(e){
				if(e.charCode == 13 || e.keyCode == 13){
					e.preventDefault();
					sendMessage("text");
				}
			};

			$("#viewA").click(function(){
		        sendMessage("viewhistory");
		        //$("#outter:hidden").show();
		    });

		    $("#clsA").click(function(){
		        $("#outter").hide();
		    });

		    $("#searBtn").click(function(){
		        //alert("search button clicked.!");
		        sendMessage("searchchathistory");
		    });
			$("#chatInfo").keypress(handleReturnKey);
			chatSocket.onmessage = receiveEvent;
			$(window).bind("beforeunload", function(){
				return "TChat is interesting!";
			});
		});


	</script>
}{@views.html.chatRoomNavbar()}